.header {
  display: flex;
  grid-area: header;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 2.5rem;
  border-bottom: var(--color-border-base) 1px solid;
}

.menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.activeLink,
.link:hover {
  color: var(--color-primary);
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoImg {
  width: 34px;
  height: 34px;
  object-fit: cover;
}
