.header {
  display: flex;
  grid-area: header;
  align-items: center;
  justify-content: space-between;

  height: var(--header-height);
  padding: 0 32px;
}

.linksBlock {
  display: flex;
  gap: 10px;
}
