.header {
  display: flex;
  grid-area: header;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 2.5rem;
  border-bottom: var(--color-border-base) 1px solid;
}

.linksBlock {
  display: flex;
  gap: 10px;
}

.activeLink,
.link:hover {
  color: var(--color-accent);
}
