.meInfoContainer {
  display: flex;
  align-items: center;
  gap: 0 1rem;
}

.link:hover {
  color: var(--color-primary);
}

.avatarContainer {
  overflow: hidden;
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
